[submodule "vendor/subhook"]
	path = vendor/subhook
	url = https://github.com/Zeex/subhook
[submodule "vendor/loguru"]
	path = vendor/loguru
	url = https://github.com/emilk/loguru
[submodule "vendor/vcpkg"]
	path = vendor/vcpkg
	url = https://github.com/microsoft/vcpkg
