[submodule "vendor/subhook"]
	path = vendor/subhook
	url = https://github.com/Zeex/subhook
[submodule "vendor/loguru"]
	path = vendor/loguru
	url = https://github.com/emilk/loguru
[submodule "vendor/vcpkg"]
	path = vendor/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "vendor/dxsdk"]
	path = vendor/dxsdk
	url = https://github.com/apitrace/dxsdk
[submodule "vendor/cxxopts"]
	path = vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts
